*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    border:2px solid black
}
.parent{
    height:400px;
    width:900px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    grid-template-rows:repeat(auto-fit,minmax(100px,1fr));
    gap:5px;
}
.child{
    background-color:brown;
    border:1px solid black;
}
