*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* header */
header{
    height:50px;
    width:100%;
    background-color:rgba(38, 38, 43, 1);

    display:flex;
    align-items: center;
    justify-content:space-between
}
.nav-button{
    background-color: rgba(38, 38, 43, 1);
    color:white;
    border:none;
    margin: 20px
}
.last{
    height:100%;
    border-right: 1px solid white;
    padding-right:20px;
}
.registration-button{
    background-color: rgba(38, 38, 43, 1);
    color:white;
    border:none;
    margin-right:10px;
}
.logo{
    align-items:center;
    margin:20px
}
.tryfree{
    border:1px solid white;
    border-radius: 5px;
    padding-left:15px;
    padding-right:15px;
    padding-top:4px;
    padding-bottom:4px;
    background-color: rgba(38, 38, 43, 1);
    color:white;
    margin-right:20px;
}
.tryfree:hover{
    background-color:white;
    color:rgba(38, 38, 43, 1);
}
.flag{
    position:relative;
    top:11px;
    right:9px;
}
/* Main -- first page*/

.first-section{
    display:flex;
    height:700px;
    border-bottom:2px solid white;
    background-color:rgba(38, 38, 43, 1);
}
/*right photos*/
.div1{
    height:650px;
    width:30%;
    background-color:rgba(38, 38, 43, 1);
    position:relative;

}
.workwithpicks{
    position:relative;
    left:160px;
    top:140px;
}
.C-photo{
    position:absolute;
    left:160px;
    top:265px 

}
.VPN{
    position:absolute;
    left:265px;
    top:250px;
}
.teamwork-pic{
    position:relative;
    top:250px;
    left:160px
}
.secure{
    position:absolute;
    left:160px;
    top:515px
}
/*heading div*/
.div2{
    height:650px;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(38, 38, 43, 1);
    color:white;
}
.div2-div1{
    display:flex;
    flex-direction:row;
    margin-bottom:20px;
}
.div2-div{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-size: xx-large;
    margin-bottom:30px;
}
.first-section-button{
    padding: 10px;
    border-radius: 8px;
    border:none;
    margin-right:10px;
    height:50px;
    position:relative;
    top:7px;
}
.first-section-button:hover{
    background-color:black;
    color:white;
}
img{
    margin:5px;
}
/*left photos*/
.div3{ 
    height:650px;
    width:30%;
    background-color:rgba(38, 38, 43, 1);
}
.wifi{
    position:relative;
    top:120px;
    right:-130px;
}
.plan{
    position:absolute;
    top:260px;
    right:190px
}
.converter{
    position:absolute;
    right:60px;
    top:375px
}
.manage{
    position:relative;
    top:260px;
    right:-80px
}
.code-easer{
    position:absolute;
    top:560px;
    right:115px;
}
/*section 2*/

.sec2-div{
    height:100px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    color:white;
    background-color:rgba(38, 38, 43, 1);
    padding:100px;
}
.sec2-div1{
    height:300px;
    width:60%;
    background-color: rgba(223, 150, 174, 1);
    display: flex;
    border-radius:20px;
}
.sec2-div1 img{
    height:80px;
    width:auto;
}
.flexdiv{
    height:80px;
    width:100%;
    background-color:rgba(38, 38, 43, 1);
    display:flex;
    align-items:center;
    /* justify-content: center; */
}