.parent{
    height: 915px;
    width:915px;
    background-color:lightskyblue;
    border:5px solid green;
    display:grid;
    gap:6px;
    grid-template-columns: 300px 300px 300px; 
    grid-template-rows: 300px 300px 300px;
}
.child{
    height:300px;
    width:300px;
    background-color:rgb(228, 0, 0);
    border:3px solid black;
}