*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Parent{
    background-color: bisque;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    gap:1px;
    display: grid;
    grid-template-columns:200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.child{
    background-color: indigo;
    grid-column-start:2;
    grid-column-end: 3;

    grid-row-start:2;
    grid-row-end:3;
}