*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Parent{
    background-color: white;
    height: 622px;
    width: 852px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 200px 200px 200px 250px;
    grid-template-rows: 200px 220px 200px;

}

.Child1{
    background-color: yellow;
    border: 2px solid black;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;
}


.Child2{
    background-color: aquamarine;
    border: 2px solid black;
    
    
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 1;

}

.Child3{
    background-color: blueviolet;
    border:  2px solid black;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

.Child4{
    background-color: chocolate;
    border: 2px solid black;

    grid-column-start:3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
}


.Child5{
    background-color:deepskyblue;
    border: 2px solid black;

    grid-column-start:1;
    grid-column-end: 2;

    grid-row-start:3;
    grid-row-end: 4;
}

.Child6{
    background-color: green;
    border:2px solid black;

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;
}