input[type="text"]{
    border:2px solid navy;
    border-radius:2px;
}
input[type="password"]{
    border:2px dashed red;
    border-radius: 2px;
    outline: none;
}
input[type="email"]{
    border:none;
    outline: none;
}
label{
    font-weight: bolder;
}
 