*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    display:flex;
    flex-direction: column;
}
/* header's styles */

header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 0px;
    border-bottom:1px solid grey;
    margin:0px 100px;
}

/* Navigation */

nav ul{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:20px;
}
ul li{
    list-style-type: none; 
    border:transparent;
    padding: 10px;
    transition:1.2s;
}
header h3{
    font-weight: 700px;
    font-size: 30px;
    line-height:30px;
}
header button{
    font-weight:700px;
    font-size:16px;
    line-height: 24px;
    height:50px;
    width:171px;
    background-color:rgb(224, 187, 0);
    border-radius:100px;
    border:none;
}

/* hero section styles */

.main-part{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.Text-div{
    position:relative;
    top:100px;
}
.Text-div h1{
    font-weight:700px;
    font-size:70px;
    line-height:70px;
    position:relative;
    bottom:30px;
    right:78px;
}
.Text-div-p{
    font-weight: 400px; 
    font-size:16px;
    line-height:25px;
    position: relative;
    right:70px;
}
.input-div{
    display: flex;
}
.input-div button{
    font-weight:700px;
    font-size:16px;
    line-height: 24px;
    height:40px;
    width:141px;
    background-color:rgb(224, 187, 0);
    border-radius:100px;
    border:none;
    position:relative;
    top:25px;
    right:60px;
}
.input-div input{
    height:40px;
    width:300px;
    border-radius:100px;
    border:none;
    background-color:rgb(219, 219, 219);
    position:relative;
    top:25px;
    right:73px;
    padding:20px;
}

.images{
    width: 550px;
    height:400px;
    position:relative;
    top:100px;
    left:100px;
    border-radius: 30px;
    background-color:rgba(255, 240, 191, 1)
}
.small-phone{
    height:351px;
    width:auto;
    position:relative;
    left:40px;
    top:50px;
}
.frame{
    height:470px;
    width:auto;
    position:absolute;
    top:-60px
}
.screen{
    height:460px;
    width:auto;
    position: absolute;
    top:-50px;
    right:68px;
}

/* first page footer */

.page1-footer{
    height:300px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 0px;
    border-bottom:1px solid grey;

    
}
.people-profile{
    height:50px;
    width:auto;
    position:absolute;
    top:870px;
    left:123px;

}
.logos-logos{
    width:535px;
    position:relative;
    right:100px;
}

/* section two */

.heading-p-div{
    width:100%;
    height:300px;
    display:flex;

}
.heading-p-div h1{
    font-weight:700px;
    font-size:70px;
    line-height:70px;
    position:relative;
    top:120px;
    left:120px;
}
.section2-divs-parent{
    display: flex;
}
.heading-p-div p{
    position:relative;
    top:150px;
    left:260px
}
.sec2-div1{
    height:600px;
    width:550px;
    border-radius:30px;
    background-color:rgba(255, 240, 191, 1);
    position:relative;
    left:120px;

    display:flex;
    flex-direction:column;
    align-items:center;
}
.sec2-div2{
    height:600px;
    width:550px;
    border-radius:30px;
    background-color:rgba(255, 240, 191, 1);
    position:relative;
    left:197px;

    display:flex;
    flex-direction:column;
    align-items:center;
}
.sec2-div1 h3{
    font-weight: 700px;
    font-size: 30px;
    position:relative;
    top:25px;
}
.sec2-div1 p{
    position:relative;
    top: 40px;
    line-height:20px;
}
.sec2-div1-img1{
    height:451px;
    width:auto;
    position:relative;
    top:75px;
}

.sec2-div2 img{
    height:451px;
    width:auto;
    position:relative;
    top:75px;
}
.sec2-div2 h3{
    font-weight: 700px;
    font-size: 30px;
    position:relative;
    top:25px;
}
.sec2-div2 p{
    position:relative;
    top: 40px;
    line-height:20px;
}

/* section three */

.sec3-main-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    top:170px;
}
.sec3-main-div h1{
    font-weight:700px;
    font-size:70px;
    line-height:70px;
}
.sec3-main-div p{
    position:relative;
    top:50px;
}
.sec3-main-div img{
    width:1130px;
    height:auto;
    position:relative;
    top:150px;
}

/* section three footer */

.page-three-footer{
    width:100%;
    height:400px;
    display:flex;   
}
.page3-footer{
    position:relative;
    top:300px;
    left:200px;
}
.img1{
    height:150px;
    position:relative;
    right:70px;
}
.img3{
    height:150px;
    position:relative;
    left:180px 
}
.img2{
    height:150px;
    position:relative;
    left:60px;
}