@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family:inter;

}
/* header */
header{
    width:100%;
    height:140px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.header-logodiv-logo{
    height:50px;
    padding-left:100px;
}
nav{
    padding-left:100px;

}
ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    opacity: 80%;
}
.home{
    font-weight:bold;
}
.header-buttondiv{
    height:100%;
    width:15%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}
.header-buttondiv-first{
    border:none;
    background-color: white;
    height:35%;
    width:30%;
    font-size:medium
}
.header-buttondiv-second{
    color:rgba(0, 52, 120, 1);
    border:2px solid rgba(0, 52, 120, 1);
    background-color: white;
    font-weight:bold;
    height:35%;
    width:45%;
    font-size:medium;
}
.header-buttondiv-added{
    display:none;
    background-color:rgba(0, 52, 120, 1);
    border:2px solid rgba(0, 52, 120, 1);
    color: white;
    height:35%;
    width:45%;
    font-size:medium;
}
/* main */
/* section 1*/
.section1{
    overflow: hidden;
    height:700px;
    width:100%;
    display:flex;
}
.section1-div1{
    font-family: Sansation;
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding-bottom:200px;
}
.section1-div1-h2-1{
    color:rgba(0, 52, 120, 1);
    font-weight:200;
    font-size:70px;
    padding-left:130px;
}
.section1-div1-h2-2{
    color:orange;
    font-weight:bold;
    font-size:70px;
    margin-bottom:65px;
    padding-left:130px;
}
.section1-div1-div1{
    height:55px;
    width:100%;
    background-color:black;;
    margin-bottom:20px;
    opacity: 80%;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:100px;

}
.section1-div1-div1-p{
    font-size:55px;
    font-weight:300;
}
.p{
    font-size:25px;
}
.section1-div1-div2{
    height:55px;
    width:100%;
    background-color:black;
    opacity: 80%;
    margin-bottom:65px
}
.section1-div2{
    height:100%;
    width:50%;
}
.section1-mustang{
    height:90%;
    padding-left:-30px;
}
.section1-div1-div3{
    display:flex;
    align-items:center;
    gap:20px;
    padding-right:37px;

}
.section1-div1-div3-button{
    background-color:rgba(0, 52, 120, 1);
    color:white;
    padding:15px 30px 15px 30px;
    border:none;
}
.section1-mustang{
    height:700px;
    margin-top:-70px;
}
/* section 2*/
.section2{
    height:fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.section2-div1{
    width:100%;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    background-color:black;
    opacity:80%;
}
.section2-div1-h2{
    font-size:30px;
    font-weight:300;
    font-family: Sansation;
}
.section2-div2{
    margin:35px 0px 85px 0px;
    opacity:80%;
    font-size:20px;
}
/* grid 1*/
.section2-div3{
    height:fit-content;
    width:90%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr;
}
.section2-div3-divs{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.grid-div{
    border-right:1px solid rgb(177, 177, 177);
    border-left:1px solid rgb(177, 177, 177);
}
.grid1-h2{
    font-size:18px;
    margin:20px 0px 30px 0px
}
.grid1-p{
    font-size:18px;
}
.grid0-p{
    margin:0px 0px 40px 0px;
}
.grid1-a{
    font-size:14px;
    color:rgba(255, 102, 69, 1);
}
.section2-div3-divs-p2{
    margin:0px 0px 60px 
}
/*section 2 div 4 */
.section2-div4{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-family:inter;
    margin:90px 0px 0px 0px;
}
.section2-div4-button{
    height:50px;
    width:250px;
    background-color:rgba(0, 52, 120, 1);
    color:white;
    border:none;
    font-size:18px;
}
.section2-div4-a{
    color:rgba(2, 118, 179, 1);
    text-decoration: underline;
    font-size:18px;
    margin:0px 0px 80px 0px;
}
/* grid 2
section 2 div 5 */
.section2-div5{
    height:fit-content;
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr;
    justify-items:center;
    align-items:center;
    margin:0px 0px 50px 0px;
}
.grid2-divs{
    height:130px;
    width:250px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    box-shadow: 0px 0px 5px 0px ;
}
.grid2-text{
    font-weight:bold;
    opacity:80%;
}
.grid2-nums{
    font-weight:400;
    font-size:40px;
    opacity:80%;
}
/*section 3*/
.section3{
    height:fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.section3-div1{
    width:100%;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    background-color:black;
    opacity:80%;
}
.section3-div1-h2{
    font-size:30px;
    font-weight:300;
    font-family: Sansation;

}
.section3-div1-p1{
    padding:35px 0px 0px 0px;
    opacity:80%;
    font-size:larger
}
.section3-div1-p2{
    padding:0px 0px 35px 0px;
    opacity:80%;
    font-size:larger;
}
.section3-div2{
    height:fit-content;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr; 
    justify-items: center;
    align-items:center
}
.section3-div2-div1-div1{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.section3-add{
    display:flex;
    align-items:center;
    justify-content:center;
}
.section3-div2-div1-div1-div1{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap:10px;
    padding-top:20px;
}
.section3-div2-div1-div1-div2{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.section3-div2-div1-div1-div2-ul{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    line-height: 3px;
    text-align: left;
    padding-top:28px;
    padding-left:20px;
}
.section3-div2-div1-div1-div1-first{
    padding: 30px 0px 30px 0px;
    font-family:inter;
    opacity:80%;
}
.section3-div2-div1-h2{
    opacity:80%;
    font-weight:500
}
.section3-div2-div2-img{
    height:500px;
    padding-right:70px
}
.secttion3-div3-div1-img{
    height:500px;
}
.section3-div3-div2-h2{
    font-size:30px;
    font-weight:500;
    font-family: Sansation;
    opacity:80%;
}
.section3-div3-div2-p1{
    padding:50px 0px 0px 0px;
    opacity:80%;
}
.section3-div3-div2-p2{
    padding:0px 0px 20px 0px;
    opacity:80%;
}
.section3-div3-div2-div{
    height:fit-content;
    display:grid;
    grid-template-columns:50px 1fr;
    grid-template-rows:50px 50px 50px;
    justify-items: left;
    align-items:center;
    padding:30px 0px 0px 0px;
}
.section3-div3-div3-h2{
    opacity:80%;
    font-weight:500;
}
.section3-div3-div3-p1{
    padding:50px 0px 0px 0px;
}
.section3-div3-div3-p2{
    padding:0px 0px 20px 0px;
}
.section3-div3-div3-div{
    height:fit-content;
    display:grid;
    grid-template-columns:50px 1fr;
    grid-template-rows:50px 50px 50px 50px;
    justify-items: left;
    align-items:center;
    padding:30px 0px 0px 0px;
}
.section3-div3-div4{
    height:550px;
}
.section3-div3-div5-img{
    height:550px;
}
.section3-div3-div6-div{
    height:fit-content;
    display:grid;
    grid-template-columns:50px 1fr;
    grid-template-rows:50px 50px;
    justify-items: left;
    align-items:center;
    padding:30px 0px 20px 0px;
}
.grid-p{
    opacity:80%
}
/* section 4*/
.section4{
    background-color:rgba(48, 50, 49, 1);
    font-family:Sansation;
}
.section4-div1{
    height:70px;

    color:rgba(255, 255, 255, 1);
    display:flex;
    align-items:center;
    justify-content:center;
}
.section4-div1-h2{
    font-size:30px;
    font-weight:300;
}
@media(max-width:1310px){
    .section1-div1-h2-1{
        font-size:60px;
    }
    .section1-div1-h2-2{
        font-size:60px;
    }
    .section1-div1-div1-p{
        font-size:45px;
    }
    .p{
        font-size:25px;
    }
    .section1-div1-div3{
        padding-left:70px;
    }
    .header-logodiv-logo{
        padding-left:125px
    }
    .section1-mustang{
        height:97%
    }

}
@media(max-width:1160px){
    .section1-div1-h2-1{
        font-size:50px;
    }
    .section1-div1-h2-2{
        font-size:50px;
    }
    .section1-div1-div1-p{
        font-size:38px;
    }
    .p{
        font-size:20px;
    }
    .section1-mustang{
        height:94%
    }
    .section1-div1-div3{
        padding-left:135px;
    }
    .header-logodiv-logo{
        padding-left:150px
    }
}
@media(max-width:1100px){
    nav{
        padding:0px 0px 0px 50px;
    }
    ul{
        gap:25px;
    }
    .header-logodiv-logo{
        padding-left:120px
    }
    .header-buttondiv-first{
        display:none;
    }
    .header-buttondiv-second{
        display:none;
    }
    .header-buttondiv-added{
        display:block;
        width:70%
    }
}
@media(max-width:1010px){
    .section1-div1-h2-1{
        font-size:40px;
    }
    .section1-div1-h2-2{
        font-size:40px;
    }
    .section1-div1-div1-p{
        font-size:30px;
    }
    .p{
        font-size:15px;
    }
    .section1-div1-div3{
        padding-left:165px;
    }
    .section1-mustang{
        height:90%
    }
    .header-logodiv-logo{
        padding-left:160px
    }
}
@media( max-width:900px){
    .header-logodiv-logo{
        padding-left:140px
    }
    .section1-div1-div1-p{
        font-size:26px;
    }
    .section1-div1-div3{
        padding-left:145px;
    }

}